@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scrollbar-width: thin;
    scrollbar-color: #171C22 #FFF;
}

#nprogress {
    position: relative;
    z-index: 99999999999;
}

#nprogress .bar {
    box-shadow: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    padding: 10px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 74px);
    grid-template-rows: repeat(4, 74px);
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    cursor: pointer;
    border-radius: 4px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 4px;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    border-radius: 4px;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
    border-radius: 4px;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
    border-radius: 4px;
}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
    border-radius: 4px;
}

.div6 {
    grid-area: 2 / 3 / 3 / 4;
    border-radius: 4px;
}

.div7 {
    grid-area: 3 / 1 / 4 / 2;
    border-radius: 4px;
}

.div8 {
    grid-area: 3 / 2 / 4 / 3;
    border-radius: 4px;
}

.div9 {
    grid-area: 3 / 3 / 4 / 4;
    border-radius: 4px;
}

.div10 {
    grid-area: 1 / 4 / 2 / 5;
    border-radius: 4px;
}

.div11 {
    grid-area: 2 / 4 / 3 / 5;
    border-radius: 4px;
}

.div12 {
    grid-area: 3 / 4 / 5 / 5;
    border-radius: 4px;
}

.div13 {
    grid-area: 4 / 1 / 5 / 4;
    border-radius: 4px;
}

.div14 {
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 4px;
}

.react-datepicker__day--selected {
    background-color: #FF6B05 !important;
    /* Cor de fundo da data selecionada */
    color: #fff !important;
    /* Cor do texto da data selecionada */
}
